* {
    font-family: Arial
}

h1 {
    text-align: center; 
}

.circle1{
    fill: lightblue;
    stroke: black;
    stroke-width: 6px;
    stroke: 2,2;
    stroke-linejoin: round;
}

.button1{
    border:none;
    background-color:transparent;
    outline:none;

}


.button2{
    border:none;
    background-color:transparent;
    outline:none;

}
.circle2:hover{
    stroke: black;
    stroke-width: 6px;
    stroke: 2,2;
    stroke-linejoin: round;
}

.circle2 {
    fill: pink; 
}

.circle3 {
    fill: grey;
    stroke: black;
    stroke-width: 6px;
    stroke: 2,2;
    stroke-linejoin: round;
    opacity: 1;
}

#c3{
    opacity: 1;
}
